# ถ้าเทสในเครื่องตัวเอง แบบเปิดพอร์ต VScode
; :80 {
;     reverse_proxy app:3000 {
;         header_up Host {http.request.header.X-Forwarded-Host}
;         header_up X-Forwarded-Host {http.request.header.X-Forwarded-Host}
;         header_up X-Forwarded-Proto https
;         header_up Origin "https://{http.request.header.X-Forwarded-Host}"
;     }
; }

# รันในเครื่อง
localhost {
    reverse_proxy app:3000
}

# ถ้าเอาขึ้น Server จริง (เปลี่ยน domain เป็นของคุณ)
# rmutl-skill.com {
#     reverse_proxy app:3000 {
#       header_up Host {host}
#        header_up X-Forwarded-Host {host}
#        header_up X-Forwarded-Proto {scheme}
#    }
# }